<nav class="navbar navbar-expand-lg navbar-light bg-warning" style="padding-left : 10px">
    <img src="/images/logo 1.png" alt="Logo">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-danger" style="padding-left : 25px" href="#">Home</a>
      <a class="nav-item nav-link text-danger" style="padding-left : 25px" href="#">Biodata</a>
      <a class="nav-item nav-link text-danger" style="padding-left : 25px" href="#">History</a>
    </div>
</nav>